.infostream{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 1px solid blue;
    border-radius: 20%;
    padding: 20px;
}

.buttons{
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
}
