.spurtographer{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: auto;
    width: fit-content;
    grid-area: middle;
}

.delay-box{
    display: flex;
    margin: auto;
    width: fit-content;
    border: 2px solid black;
}
