.streamheader{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    text-align: center;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "ula uca ura"
                         "ulb ucb urb"
                         "mc mc mc"
                         "dc dc dc";
}

.title{
    grid-area: dc;
}

.streamdetails{
    grid-area: mc;
}

.targetbutton{
    grid-area: ulb;
}

.closebutton{
    grid-area: ura;
}

.suspendbutton{
    grid-area: ula;
}

.savebutton{
    grid-area: uca;
}

.blindbutton{
    grid-area: ucb;
}

.viewmodebutton{
    grid-area: urb;
}
