.streamheader{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    text-align: center;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "tl tc tr"
                         "bc bc bc";
}

.title{
    grid-area: bc;
}

.viewmodebutton{
    grid-area: tc;
}

.blindbutton{
    grid-area: tl;
}

.focusbutton{
    grid-area: tr;
}
