.suspenspurt{
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 1px solid blue;
    border-radius: 20%;
    padding: 20px;
}

.suspentext{
    flex-grow: 2;
    margin-top: 3px;
    border-top: 1px dashed blue;
    border-bottom: 1px dashed blue;
}

.suspenspurt-btns{
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
}
